// Primary
$color-brand-primary-1: #231123;
$color-brand-primary-2: #82204a;
$color-brand-primary-3: #558c8c;
$color-brand-primary-4: #e8db7d;
$color-brand-primary-5: #eff7ff;

// Grey Scale
$color-scale-base-0: #ffffff;
$color-scale-base-15: #f0f1f6;
$color-scale-base-30: #e4e5e9;
$color-scale-base-50: #a7a8ac;
$color-scale-base-75: #47484c;
$color-scale-base-100: #000000;
