@import '../base/typography';
@import '../base/colors';

.tokens-h1 {
  @extend %typography-h1;
  color: $color-scale-base-100;
}

.tokens-h2 {
  @extend %typography-h2;
  color: $color-scale-base-100;
}

.tokens-h3 {
  @extend %typography-h3;
  color: $color-scale-base-100;
}

.tokens-h4 {
  @extend %typography-h4;
  color: $color-scale-base-100;
}

.tokens-p {
  @extend %typography-subtitle-1;
  color: $color-scale-base-50;
}

.tokens-small {
  @extend %typography-subtitle-2;
  color: $color-scale-base-50;
}

.tokens-a {
  @extend %typography-link-1;
  color: $color-brand-primary-3;
}
